.pioenvs
.pio
.piolibdeps
.idea
src/main.cpp
.travis.yml
platformio.ini
.vscode
.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/*.db
.vscode/.browse.c_cpp.db*
CMakeLists.txt
CMakeListsPrivate.txt